<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler,Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler,Sprong.Core"/>
    </sectionGroup>
    <spring>
      <context>
        <resource uri="config://sprong/object"/>
      </context>
      <object xmlns="http://www.springframework.net">
        <description>An example that demonstrates simple Iod features.</description>
        <object name="Class1" type="Demo,Spring.Class1,Demo">
        </object>
      </object>
    </spring>
  </configSections>
</configuration>